h1 {color: lightblue;
font-family: 'Xanh Mono', monospace;
    font-size: 50px
}
h2 {color: lightpink;
font-family: 'Xanh Mono', monospace;
}
h3 {color: lightpink;
font-family: 'Xanh Mono', monospace;
}
h4 {color: lightpink;
font-family: 'Xanh Mono', monospace;
}
body {
font-family: 'Work Sans', sans-serif;
}
<style>
a:link {
  color: lightsteelblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: burlywood;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: powderblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: lightsteelblue;
  background-color: transparent;
  text-decoration: underline;
}
</style>
